<div class="header-big  post-top css-color mb-4" id="search-bg" style="">
    <div class="s-search">
        <div id="search" class="s-search mx-auto">
            <div id="search-list-menu" class="hide-type-list">
                <div class="s-type text-center">
                    <div class="s-type-list big">
                        <div class="anchor" style="position: absolute; left: 50%; opacity: 0;"></div>
                        <label for="type-google"   data-id="group-a"><span>Common</span></label>
                        <label for="type-google1"  data-id="group-b"><span>Search</span></label>
                        <label for="type-buildwith"   data-id="group-c"><span>Tools</span></label>
                        <label for="type-access-ticket" data-id="group-e"><span>Life</span></label>
                    </div>
                </div>
            </div>

            <form action="https://www.google.com/search?q=" method="get" target="_blank" class="super-search-fm">
                <input type="text" id="search-text" class="form-control smart-tips search-key" 
                    zhannei="" placeholder="输入关键字搜索" style="outline:0" autocomplete="off">
                <button class="submit" type="submit"><i class="iconfont icon-search"></i></button>
            </form>

            <div id="search-list" class="hide-type-list">
                <div class="search-group group-a">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" checked="checked"
                                id="type-google"
                                value="https://www.google.com/search?q="
                                data-placeholder="Google Search">
			         <label for="type-google"><span class="text-muted">Google</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-anaconda" 
			                    value="https://anaconda.org/search?q=" 
                                data-placeholder="Anaconda packages search">
			             <label for="type-anaconda"><span class="text-muted">Anaconda packages</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-ping-pe-ga"
                                value="https://ping.pe/"
                                data-placeholder="Enter a website or IP address(without https://)">
                            <label for="type-ping-pe-ga"><span class="text-muted">Ping-pe</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-googlescholar"
                                value="https://scholar.google.com/scholar?hl=en&as_sdt=0%2C5&q=" 
                                data-placeholder="Articles title, keywords">
			             <label for="type-googlescholar"><span class="text-muted">Google Scholar</span></label>
                        </li>
                    </ul>
                </div>
                <div class="search-group group-b">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type"
                                id="type-yahoo"
                                value="https://search.yahoo.co.jp/search?p="
                                data-placeholder="Yahoo!検索">
                            <label for="type-yahoo"><span class="text-muted">Yahoo</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-baidu1"
                                value="https://www.baidu.com/s?wd=" 
                                data-placeholder="百度一下，你就知道">
                            <label for="type-baidu1"><span class="text-muted">Baidu</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-google1"
                                value="https://www.google.com/search?q=" 
                                data-placeholder="Google Search">
                            <label for="type-google1"><span class="text-muted">Google</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-bing1"
                                value="https://cn.bing.com/search?q=" 
                                data-placeholder="Bing Search">
                            <label for="type-bing1"><span class="text-muted">Bing</span></label>
                        </li>
                    </ul>
                </div>
                <div class="search-group group-c">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" 
                                id="type-star-history"
                                value="https://www.star-history.com/?repos="
                                data-placeholder="Enter a GitHub repo name to get started (e.g.daisuke716/prefure-nav)">
                            <label for="type-star-history"><span class="text-muted">Star History</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-whois"
                                value="https://who.is/whois/" 
                                data-placeholder="Domain names or IP addresses">
                            <label for="type-whois"><span class="text-muted">WHOIS</span></label>
                        </li>

                        <li><input hidden="" type="radio" name="type" 
                                id="type-buildwith"
                                value="https://builtwith.com/" 
                                data-placeholder="Enter a website address, a technology name or a keyword">
                            <label for="type-buildwith"><span class="text-muted">BuildWith</span></label>
                        </li>
                                                <li><input hidden="" type="radio" name="type" 
                                id="type-ping-pe-gc"
                                value="https://ping.pe/"
                                data-placeholder="Enter a website or IP address(without https://)">
                            <label for="type-ping-pe-gc"><span class="text-muted">Ping-pe</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-ping-chinaz"
                                value="https://ping.chinaz.com/"
                                data-placeholder="Enter a website or IP address(without https://)">
                            <label for="type-ping-chinaz"><span class="text-muted">Ping-chinaz</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-404"
                                value="https://tool.chinaz.com/Links/?DAddress="
                                data-placeholder="请输入网址(不带https://)">
                             <label for="type-404"><span class="text-muted">死链检测</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-17track"
                                value="https://t.17track.net/en#nums=" 
                                data-placeholder="Enter tracking numbers">
                            <label for="type-17track"><span class="text-muted">17TRACK</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-track123"
                                value="https://www.track123.com/track?code=&trackNos=" 
                                data-placeholder="Enter tracking numbers">
                            <label for="type-track123"><span class="text-muted">Track123</span></label>
                        </li>
                    </ul>
                </div>
                <div class="search-group group-e">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" 
                                id="type-access-ticket" 
                                value="https://www.access-ticket.com/products/list?searchKeyword=" 
                                data-placeholder="商品名・証券コードなど">
                            <label for="type-access-ticket"><span class="text-muted">ACCESS TICKET</span></label> 
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-xiachufang" 
                                value="https://www.xiachufang.com/search/?keyword=" 
                                data-placeholder="下厨房">
                            <label for="type-xiachufang"><span class="text-muted">下厨房</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-xiangha" 
                                value="https://www.xiangha.com/so/?q=caipu&s=" 
                                data-placeholder="香哈菜谱">
                            <label for="type-xiangha"><span class="text-muted">香哈菜谱</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-12306" 
                                value="https://www.12306.cn/?" 
                                data-placeholder="12306">
                            <label for="type-12306"><span class="text-muted">12306</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-trip" 
                                value="https://www.trip.com/global-search/searchlist/search/?keyword=" 
                                data-placeholder="Destinations, attractions, hotels, and more">
                            <label for="type-trip"><span class="text-muted">Trip.com</span></label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card search-smart-tips search-hot-text">
                <ul id="word" style="display: none"></ul>
            </div>
        </div>
    </div>
    <!--div class="bulletin-big mx-3 mx-md-0">
        <div id="bulletin_box" class="card my-2">
            <div class="card-body py-1 px-2 px-md-3 d-flex flex-fill text-xs text-muted">
                <div><i class="iconfont icon-bulletin" style="line-height:25px"></i></div>
                <div class="bulletin mx-1 mx-md-2 carousel-vertical">
                    <div class="carousel slide" data-ride="carousel" data-interval="3000">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active"><a class="overflowClip_1"
                                    href="#">所长导航 - 用心精选每一个链接</a></div>
                            <div class="carousel-item "><a class="overflowClip_1"
                                    href="#">所长导航 - 有范的导航网站</a></div>
                        </div>
                    </div>
                </div>
                <div class="flex-fill"></div>
                <a title="关闭" href="javascript:;" rel="external nofollow" class="bulletin-close"
                    onclick="$('#bulletin_box').slideUp('slow');"><i class="iconfont icon-close"
                        style="line-height:25px"></i></a>
            </div>
        </div>
    </div-->
</div>
